<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ваш фамилия: {{ user.family }}</p>
    <p>Ваш имя: {{ user.name }}</p>
    <p>Ваш отчество: {{ user.fname }}</p>
    <a href= "{{  user.inst  }}">Инстаграм</a>
    <img src= "{{  user.photo  }}">
    <p>Справочная инфа:<em><b><mark><del>{{ user.infa }}</del></mark></b></em></p>
</body>
</html>
